config interface ge00
	option mode		dhcpv6
	option ula_prefix	auto
	option request_prefix	auto
	option prefix_fallback	relay
	option peerdns		1	

config interface se00
	option mode		router
	option advertise_prefix	64
	option relay_master	ge00

config interface sw00
	option mode		router
	option advertise_prefix	64
	option relay_master	ge00

config interface sw10
	option mode		router
	option advertise_prefix	64
	option relay_master	ge00

config interface gw00
	option mode		router
	option advertise_prefix	64
	option relay_master	ge00

config interface gw10
	option mode		router
	option advertise_prefix	64
	option relay_master	ge00

config interface 6in4
	option mode		static
	list static_prefix	2001:DB8::/48

